@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales opcionales */
body {
  background-color: #2e1065;
  color: #f1f5f9;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

/* Ocultar barra de desplazamiento en contenedores con scroll horizontal */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}